html, body, ul {
    all: unset;
    font-family: "Helvetica Neue";
    font-size: 16px;
}

li {
    display: inline;
}

.headerwrapper {
    max-width: 1170px;
    margin: 0px auto 0px auto;
    padding: 13px 12px 10px 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 > sup {
    font-size: 14px;
}

sup {
    font-size: 10px;
}

.post {
    padding: 10px 10px 0px 10px;
}

.post > p{
    line-height: 1.5;
}

.body-container {
    max-width: 1000px;
    margin: 0px auto 0px auto;
    padding: 0px 10px 0px 10px;
}

.folder {
    padding: 0px 15px 0px 15px;

}

#timestamp {
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    color: #333333;
    font-style: italic;
}

#used-links {
    padding-left: 15px;
    color: #333333;
    font-style: italic;
}

.post-preview {
    padding: 10px;;
}

#listening-preview-one, #listening-preview-two {
    font-size: 12px;
}